version: '3.8'
services:
  db:
    # this is using ankane/pgvector image which is a postgres image with pgvector extension
    image: ankane/pgvector
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres

volumes:
  dynamodb-data:
